.face-view {
    .head-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      .title {
        font-size: 1.6rem;
      }
  
      .operation {
        .btn {
          margin-left: 6px;
        }
      }
    }
  
    .table-container {
      background-color: white;
      border-radius: 8px;
      min-height: 80vh;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }
    
    .row {
      margin-top: 10px;
    }
  
    .col-mid {
      padding-left: 10px;
    }
  
    .col-right {
      padding-left: 10px;
  
      .img-list {
        padding: 10px;
        background-color: white;
        height: 80vh;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        overflow-y: auto;
  
        .img {
          width: 100%;
          border-radius: 8px;
          margin-bottom: 5px;
        }
      }
    }
  }