.stat-view {
  .head-line {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 1.6rem;
    }

    .operation {
      .btn {
        margin-left: 6px;
      }
    }
  }

  .row {
    margin-top: 10px;
  }

  .col-right {
    padding-left: 10px;

    .video {
      width: 100%;
      border-radius: 8px;
    }

    .img {
      width: 100%;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .img-row {
      margin-top: 5px;

      .img-col-left {
        padding-right: 5px;
      }

      .img-col-right {
        padding-left: 5px;
      }
    }
  }
}