.video-view {
  .head-line {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: 1.6rem;
    }

    .operation {
      .btn {
        margin-left: 6px;
      }
    }
  }

  .table-container {
    margin-top: 10px;
    background-color: white;
    border-radius: 8px;
    min-height: 80vh;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }

  .status-tag {
    cursor: pointer;
  }
}