.video-detail-view {
  .title {
    font-size: 1.6rem;
  }

  .video {
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
  }

  .info {
    margin-top: 10px;
  }

  .col-right {
    padding-left: 10px;
  }

  .confirm-btn {
    float: right;
    margin-top: 10px;
  }
}