.app {
  min-height: calc(100vh);

  .header {
    position: fixed;
    padding: 0;
    z-index: 1000;
  }

  .sider {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 64px;
    bottom: 0;
  }

  .content {
    margin-left: 200px;
    margin-top: 64px;
    transition: margin-left 0.2s;
  }

  .content.collapsed {
    margin-left: 80px;
  }
}